<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/createNew" method="GET" >
    <button>create new Listing</button>
  </form>
 <% for (const list of data) {%> 
  <ul>
    <li>  <a href="/listing/<%= list._id %>"><%= list.title %></a></li>
  </ul>

 <%}%>
</body>
</html>
